h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: 700;
  margin-top: 40px;

  a {
    color: var(--color-foreground-primary);
  }
}

h1 {
  font-size: 48px;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 33px;
}

h4,
h5,
h6 {
  font-size: 18px;
  line-height: 25px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38889;
}

a {
  text-decoration: none;
}
