.sidebar-search-container {
  font-size: 14px;
  position: relative;
  left: 1px;
}

.sidebar-search {
  left: 0 !important;
  top: 0 !important;
}

.sidebar-drawer {
  // needs to be < 5000 for the autocomplete dropdown
  // which is outside of the sidebar drawer
  z-index: 4999 !important;
}

// google search variant
.sidebar-container {
  .gcse-searchbox {
    min-height: 76px;
  }

  form.gsc-search-box {
    position: relative;
    right: -1px;
    margin: 40px 0 0;

    * {
      font-family: "Helvetica Now" !important;
    }
  }

  .gsc-input-box {
    border: 1px solid var(--color-background-border) !important;
    border-right: 1px solid var(--color-background-primary) !important;

    td {
      padding: 0;
    }

    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 10px;
      left: var(--sidebar-item-spacing-horizontal);
      width: var(--sidebar-search-icon-size);
      height: var(--sidebar-search-icon-size);
      background-color: var(--color-sidebar-search-icon);
      -webkit-mask-image: var(--icon-search);
      mask-image: var(--icon-search);
    }
  }

  .gsc-control-cse {
    padding: 0;
    background: none;
    border: none;
  }

  .gsc-search-button {
    display: none;
  }

  .gsc-input a span {
    color: var(--color-foreground-secondary) !important;
  }

  td.gsc-input {
    padding: 0 !important;
  }

  input.gsc-input {
    color: var(--color-content-foreground) !important;
    font-size: 14px !important;
    padding-top: 10px !important;
    padding-bottom: var(--sidebar-search-input-spacing-vertical) !important;
    padding-right: var(--sidebar-search-input-spacing-horizontal) !important;
    padding-left: calc(
      var(--sidebar-item-spacing-horizontal) +
        var(--sidebar-search-input-spacing-horizontal) +
        var(--sidebar-search-icon-size)
    ) !important;
    background: var(--color-background-primary) !important;
    margin: 0 !important;
  }

  // overlay
  .gsc-results-wrapper-overlay {
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
}

#___gcse_1 {
  margin-bottom: -26px;
}

.gsc-control-cse {
  padding: 0 !important;
  margin: 0 0px 0 -4px !important;
  border: none !important;
  background: none !important;

  * {
    font-family: "Helvetica Now" !important;
  }

  .gsc-control-wrapper-cse {
    padding: 1em 0;
  }

  .gsc-result {
    border: none !important;
    background: none !important;

    * {
      color: var(--color-content-foreground) !important;
      line-height: 1.5;

      a {
        color: var(--color-brand-primary) !important;
      }
    }
  }

  .gsc-cursor-page {
    background: none !important;
  }

  .gsc-cursor-current-page {
    color: var(--color-brand-primary) !important;
  }

  // hide ads ?_? 🤣
  .gsc-adBlock {
    display: none !important;
  }
}
