$body-color: #1a406b;

$header-height: 40px;
$font-size-sm: 14px;
$line-height-sm: 21/14;
$font-weight-bold: 700;

$color-primary: #00bbff;
$color-secondary: $body-color;
$color-secondary-hover: #0083b3;
$transition: all ease-in-out 100ms;

$gray: #9DAAB6;

$content-space: 40px;
