@media print {
  .rst-versions,
  footer,
  .wy-nav-side {
    display: none;
  }
  .wy-nav-content-wrap {
    margin-left: 0;
  }
}

.rst-versions {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 400;
  width: 100%;
  color: black;
  background: white;
  border: 1px solid var(--color-background-border);
  border-right: none;
  border-bottom: none;
}

.rst-versions dt {
  color: black;
  font-weight: 600;
}

.rst-versions a {
  color: #2980b9;
  text-decoration: none;
}

.rst-versions .rst-badge-small {
  display: none;
}

.rst-versions .rst-current-version {
  padding: 20px;
  display: flex;
  text-align: right;
  font-size: 90%;
  cursor: pointer;
  color: black;
  *zoom: 1;
  justify-content: space-between;
  z-index: 999;
  position: relative;
}
.rst-versions .rst-current-version .fa {
  font-size: 12px;
}

.rst-versions .rst-current-version .fa,
.rst-versions .rst-current-version .wy-menu-vertical li span.toctree-expand,
.wy-menu-vertical li .rst-versions .rst-current-version span.toctree-expand,
.rst-versions .rst-current-version .rst-content .admonition-title,
.rst-content .rst-versions .rst-current-version .admonition-title,
.rst-versions .rst-current-version .rst-content h1 .headerlink,
.rst-content h1 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h2 .headerlink,
.rst-content h2 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h3 .headerlink,
.rst-content h3 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h4 .headerlink,
.rst-content h4 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h5 .headerlink,
.rst-content h5 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h6 .headerlink,
.rst-content h6 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content dl dt .headerlink,
.rst-content dl dt .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content p.caption .headerlink,
.rst-content p.caption .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content tt.download span:first-child,
.rst-content tt.download .rst-versions .rst-current-version span:first-child,
.rst-versions .rst-current-version .rst-content code.download span:first-child,
.rst-content code.download .rst-versions .rst-current-version span:first-child,
.rst-versions .rst-current-version .icon {
  color: black;
}

.rst-versions .rst-current-version.rst-out-of-date {
  background-color: #e74c3c;
  color: #fff;
}

.rst-versions .rst-current-version.rst-active-old-version {
  background-color: #f1c40f;
  color: #000;
}

.rst-versions.shift-up .rst-other-versions {
  display: block;
}

.rst-versions .rst-other-versions {
  font-size: 14px;
  color: gray;
  display: none;
  font: 0/0 a;
  padding: 0 !important;
}
.rst-versions .rst-other-versions .rst-other-versions {
  padding: 20px !important;
  margin-bottom: 40px;
}
.rst-versions .rst-other-versions .rst-current-version {
  display: none !important;
}
.rst-versions .rst-other-versions dl {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.rst-versions .rst-other-versions hr {
  display: none;
}

.rst-versions .rst-other-versions dd {
  display: inline-block;
  margin: 0;
}

.rst-versions .rst-other-versions dt + dd {
  margin-left: -6px;
}

.rst-versions .rst-other-versions dt + strong {
  margin-left: -6px;
}

.rst-versions .rst-other-versions dd a {
  display: inline-block;
  padding: 6px;
  color: black;
}

@media screen and (max-width: 768px) {
  .rst-versions {
    width: 85%;
    display: none;
  }
  .rst-versions.shift {
    display: block;
  }
}
