{{ context }}

<div class="injected">
  <div class="rst-versions rst-badge" data-toggle="rst-versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book">&nbsp;</span>
      v: latest
      <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
      <dl>
        <dt>Versions</dt>
        <strong>
          <dd><a href="https://docs.divio.com/en/latest/">latest</a></dd>
        </strong>
      </dl>
      <dl>
        <dt>Downloads</dt>
        <dd><a href="//docs.divio.com/_/downloads/en/latest/pdf/">PDF</a></dd>
      </dl>
      <dl>
        <dt>On Read the Docs</dt>
        <dd>
          <a href="//readthedocs.com/projects/divio-divio-cloud-docs/">Project Home</a>
        </dd>
        <dd>
          <a href="//readthedocs.com/projects/divio-divio-cloud-docs/builds/">Builds</a>
        </dd>
        <dd>
          <a href="//readthedocs.com/projects/divio-divio-cloud-docs/downloads/">Downloads</a>
        </dd>
      </dl>
      <dl>
        <dt>On GitHub</dt>
        <dd>
          <a href="https://github.com/divio/divio-cloud-docs/blob/main//index.rst">View</a>
        </dd>
        <dd>
          <a href="https://github.com/divio/divio-cloud-docs/edit/main//index.rst">Edit</a>
        </dd>
      </dl>
      <hr />
      Documentation hosted by
      <a href="https://readthedocs.com">Read the Docs</a>.
    </div>
  </div>
</div>
